@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@600&display=swap');

*{margin: 0; padding: 0;}
html{
  font-size: 8px;
}

:root{
  --primary:#8B1874;
  --secondard:#E8F6EF;
}
.app{
  
  font-size: max(100vw/1920 * 10);
  background-color: var(--primary);
  color: var(--secondard);
}
.hero{
  position: relative;
  width: 100%;
  height: 100%;
}
.hero .hero_wrapper{
  width: 100%;
  height: 100%;
}

.hero_media{
  position: absolute;
  object-fit: contain;
  z-index: 999;
  pointer-events: none;
  transform: scale(0.5);
  transition: 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);;
}

.hero_title{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_title h1{
  font-size: 15vw;
  text-align: center;
  font-family: 'Lexend Peta', sans-serif;
}
.ofh{
  overflow: hidden;
}
